.centered {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    text-align: center;
    font:normal large verdana,arial,helvetica,sans-serif;z-index:1;min-height:100%;
}
.wrap {
   width:600px;
   margin:0 auto;
}
.button {
    width: 10%;
    text-align: center;
    border: 1px solid;
    border-radius: 10px;
}
#left {
    float: left;
    width: 50%;
    text-align: center
}
#right {
    margin-left: 50%;
    text-align: center
}
